.timeline-area {
    margin: 0 auto;
    width: 100%;
    border-left: 3px solid black;
    padding: 0 20px 0 30px;
    height: auto;
    position: "absolute";
    display: flex;
}
/* .timeline-area{
    margin: 0 auto;
    width: 1rem;
    border-left: 3px solid black;
    padding:0 20px 0 30px;
    height: 1rem;
    position: 'absolute';
    display: block;
    border-radius: 50%;
    top: 20%;
    transform: translateX(-50%);
} */

.timeline {
    width: 50rem;
    font-size: 1.2rem;
    position: relative;
    bottom: 0;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: auto;
    margin-left: -5px;
    margin-bottom: 10px;
    background-color: #e9ecef;
}

.timeline:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0f8ada;
    border: 3px solid #1a200b;
    position: absolute;
    top: 50px;
    left: -38px;
}

.timeline:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 2px #0f0;
}

.timeline:hover:before {
    background-color: #0f0;
    box-shadow: 0px 0px 10px 2px #0f0;
}
.timeline:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent black transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 50px;
}

.timeline2 {
    background-color: #0f8ada;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid rgb(2, 45, 102);
    line-height: 1.7;
    position: relative;
    height: 50px;
    margin-left: -25px;
    margin-bottom: 5px;
    margin-top: -23px;
    width: 106.8%;
    border-radius: 13px;
}
.el-2 {
    margin-left: -15px;
    margin-top: -81px;
    height: 49px;
    border-radius: 50%;
}
/* .name{
    margin-left: -150px;

    /* height: 40px;
    width: 40px; */
/* } * */
.test {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
    height: 40px;
    font-style: normal;
    color: white;

    /* font-size: 1.2rem; */
}
@media screen and (max-width: 768px) {
    .timeline-area {
        flex-direction: column;
    }

    .timeline {
        width: 100%;
    }

    .timeline:before,
    .timeline:after {
        display: none;
    }
}

/* .timeline {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline {
    transform: translate3d(-200px, 0, 0);
  }

  .timeline {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  @media screen and (max-width: 900px) {
    .timeline {
      width: 250px;
    }

  } */
