// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "datepicker";
.bgroundClass {
    background-color: grey;
}
#surveyTableID tr td p {
    color: rgb(24, 1, 150);
    padding: 0;
    margin: 0;
}
