/* body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a, a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
} */

/* .custom-dropdown .btn:active,
.custom-dropdown .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.custom-dropdown .btn.btn-custom {
    border: 1px solid #efefef;
}

.custom-dropdown .title-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-dropdown .title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.custom-dropdown .dropdown-link {
    color: #888;
    display: inline-block;
    padding-right: 0px;
    position: relative;
}

.custom-dropdown .dropdown-link .wrap-icon {
    font-size: 30px;
}

.custom-dropdown .dropdown-link .number {
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    background: #007bff;
    position: absolute;
    font-size: 13px;
    top: -10px;
    right: -10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}

.custom-dropdown .dropdown-menu {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    padding: 10px;
    opacity: 0;
    left: 0 !important;
    -webkit-transition: 0.3s margin-top ease, 0.3s opacity ease,
        0.3s visibility ease;
    -o-transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
    transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
    visibility: hidden;
    max-width: 380px;
}

.custom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 10px !important;
}

.custom-dropdown .custom-notifications {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #efefef;
}

.custom-dropdown .custom-notifications > li {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.custom-dropdown .custom-notifications > li:last-child {
    margin-bottom: 0;
}

.custom-dropdown .custom-notifications > li > a {
    display: block;
    padding: 20px;
    color: #bfbfbf;
}

.custom-dropdown .custom-notifications > li > a:hover {
    background: #f9f9f9;
}

.custom-dropdown .custom-notifications > li > a .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.custom-dropdown .custom-notifications > li > a .img img {
    width: 40px;
    border-radius: 50%;
}

.custom-dropdown .custom-notifications > li > a .text {
    margin-top: 0px;
}

.custom-dropdown .custom-notifications > li > a .text strong {
    font-weight: 700;
    color: #000;
}

.custom-dropdown .custom-notifications > li.unread a {
    background: #fffaef;
} */

.custom-dropdown {
    top: 15px;
    right: 15px;
    display: inline-block;
    /* width: 100%; */
}
.custom-dropdown .dropdown-link .wrap-icon {
    font-size: 30px;
    color: #fff;
}

.custom-dropdown .dropdown-link .number {
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    background: #ff0000;
    position: absolute;
    font-size: 13px;
    top: -10px;
    right: -10px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}
.custom-dropdown .dropdown-link .icon-notifications:hover {
    transform: scale(1.5);
    transition: 1s;
}
.custom-dropdown .dropdown-link:hover .number {
    box-shadow: 0 0 0 3px #fff;
    border-radius: 50%;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.custom-dropdown .dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 10px !important;
}
.custom-dropdown .dropdown-menu {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    padding: 15px;
    /* opacity: 0; */
    /* left: 0 !important; */
    -webkit-transition: 0.3s margin-top ease, 0.3s opacity ease,
        0.3s visibility ease;
    -o-transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
    transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
    /* visibility: hidden; */
    width: 380px;
}
.custom-dropdown .title-wrap {
    padding: 0px;
}

.custom-dropdown .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    /* margin: 0px; */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.custom-dropdown .custom-notifications {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #efefef;
}

.custom-dropdown .custom-notifications > li {
    display: block;
    font-size: 14px;
    margin-bottom: 0px;
}

.custom-dropdown .custom-notifications > li:last-child {
    margin-bottom: 0;
}

.custom-dropdown .custom-notifications > li > a {
    display: block;
    padding: 5px;
    margin: 1px;
    color: #1a1a1a;
    background-color: #71a5dd;
    border-radius: 10px 10px 10px 10px;
}

.custom-dropdown .custom-notifications > li > a:hover {
    background: #007bff;
    color: #ffffff;
}

.custom-dropdown .custom-notifications > li > a .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
}

.custom-dropdown .custom-notifications > li > a .img img {
    width: 40px;
    border-radius: 50%;
}

.custom-dropdown .custom-notifications > li > a .text {
    margin-top: 0px;
}

.custom-dropdown .custom-notifications > li > a .text strong {
    font-weight: 700;
    color: #000;
}

.custom-dropdown .custom-notifications > li.unread a {
    background: #fffaef;
}
