.davka_sub a:hover {
    background-color: rgb(137, 184, 228);
    cursor: pointer;
    border-radius: 0.5rem;
    /* margin-left: -10px; */

    /*  */
}

.sub_menu_list li a {
    background-color: rgb(61, 108, 161);
    border-radius: 0.5rem;
    margin-left: -10px;
    /* padding-left: -20px; */
}
.sub_menu_list li a:hover {
    background-color: rgb(137, 184, 228);
    border-radius: 0.5rem;
    margin-left: -20px;
    color: black;
}
.sub_menu_list li a div:hover {
    color: black;
}
/* .sub_sub_menu_list li a div div {
    background-color: rgb(53, 116, 189);
    border-radius: 0.5rem;
} */

.davka_sub {
    padding-left: 0px;
    margin-top: -8px;
    margin-bottom: 0px;
}
.davka_sub a {
    margin-left: -5px;
    padding-left: 20px;
    margin-bottom: 0px;
}
/* .davka_sub a:hover {
    background-color: rgb(137, 184, 228);
    border-radius: 0.5rem;
    margin-left: -10px;
    color: black;
} */
.davka_sub ul li {
    margin-top: -8px;
    margin-bottom: 0px;
    padding-left: 0;
}

.davka_sub a div div {
    padding-left: 10px;
    margin-left: -8px;
    color: white;
    font-family: Verdana, sans-serif;
}

.my_hr {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: -25px;
}
