.VerticalTimeline{
    min-height: 300px;
    width: 10px;
    background: linear-gradient(0, red, red) no-repeat;
    background-size: 100% 0;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-size: 100% 0;
    }
    100% {
        background-size: 100% 100%;
    }
}
