.modal-header {
    background-color: rgb(23, 97, 167);
}
.modal-title {
    color: white;
}
.li {
    color: black;
    background-color: black;
}
.text-background {
    background-color: rgb(238, 217, 97);
}

.close {
    color: white;
}
