.img_bg {
  border-radius: 50%;
  background: #fff;
  padding: 10px;
  margin: 6px;
  width: 100px;
  height: 100px;
  display:table;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid color #0d47af;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
  transition: transform .5s;
}
.img_bg:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
span.text{
    display:table;
    text-align: center;
   border: 1px solid color #0d47af;

}
.swiper-container{
  background-color: ;
  padding: 15px;
}
.swiper-slide a {
text-decoration: none;
}
.link-head{
display: block;
background-color: ;
padding: 10px;
}
.title_holboos{
  font-weight: bold;
  color: #0d47af;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding:10px 0px;
  padding-left: 0px;
  height:35px;
  border-bottom: 3px solid #0d47af;
  margin-bottom:8px;
}

/*.text_color{
  color: black;
}
*/
.titles{
  display: flex;
  font-weight: bold;
  color: #0d47af;
  font-size: 20px;
  text-transform: uppercase;
  display:table;
  text-align: left;
  padding:10px 0px;
  padding-left: 0px;
  height:35px;
  border-bottom: 3px solid #0d47af;
  margin-bottom:8px;
}

.mediaTitle{
  display: flex;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display:table;
  text-align: left;
  padding:10px 0px;
  padding-left: 0px;
  height:35px;
  border-bottom: 3px solid #fff;
  margin-bottom:8px;
}
