
.wrapper{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    top:50%;
    left:50%;
    width:100%;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 240px;
    background: #fff;
    border: none;
    box-shadow: 0px 0px 17px rgba(0,0,0,.5);
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}


.descriptions {
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.5);
    width: 100%;
    height: 100%;
    transition: all .7s ease-in-out;
    padding-top: 35%;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}

.atag {
    border: 1px solid rgb(187, 203, 209);
    background: rgb(255, 255, 255);
    text-align: center;

}

.descriptions a{
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.card:hover .descriptions{
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}

.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}

.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}

.card a {
    color: #000000;
    letter-spacing: 1px;
}
