/* ========= GENERAL TABLE STYLE ========= */
.MuiPaper-root {
    /* background: linear-gradient(180deg, #0b1539, #051026); */
    border-radius: 16px !important;
    overflow: hidden !important;
    box-shadow: 0 0 25px rgba(0, 180, 255, 0.2);
}

/* ========= HEADER ========= */
.MuiTableHead-root th {
    background: linear-gradient(90deg, #0f2b6d, #003d8f);
    color: #fdfdfd !important;
    font-weight: 600 !important;
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 195, 255, 0.25) !important;
    text-shadow: 0 0 6px rgba(226, 230, 230, 0.7);
    text-align: center !important; /* Correct syntax */
}

/* ========= TABLE ROW ========= */

/* .MuiTableRow-root:hover {
    background: linear-gradient(
        90deg,
        rgba(0, 170, 255, 0.3),
        rgba(0, 255, 255, 0.25)
    ) !important;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0, 200, 255, 0.4);
} */

.MuiTableBody-root .MuiTableRow-root:hover > .MuiTableCell-root {
    background: linear-gradient(
        90deg,
        rgba(0, 170, 255, 0.3),
        rgba(0, 255, 255, 0.25)
    ) !important;
}

/* ========= CELLS ========= */
.MuiTableCell-root {
    color: #000000 !important;
    font-size: 14px;
    /* padding: 10px 16px !important; */
    /* text-align: center !important;  */
}

/* ========= STATUS PILL ========= */
.status-pill {
    /* padding: 6px 14px; */
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

.status-green {
    background: #1dd98b;
}
.status-blue {
    background: #3bb4ff;
}
.status-orange {
    background: #ff9c31;
}

/* ========= TOOLBAR ========= */
.custom-toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.custom-toolbar button {
    border-radius: 12px !important;
    background: linear-gradient(135deg, #0078ff, #00e0ff) !important;
    box-shadow: 0 0 15px rgba(0, 200, 255, 0.5);
    border: none !important;
    color: white !important;
    font-weight: 600;
}
.modal-header {
    background: linear-gradient(90deg, #1f618d, #2980b9);
    color: #fff !important;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.modal-title {
    font-weight: 600;
    font-size: 18px;
}
