.ttt{
    background-image: url(/images/GsmafLogo.png);
    /* background-size: 100%; */
    width: 100px;
    height: 100px;
    margin-top: 100px;
    backdrop-filter: blur(6px);
    /* background: center; */
    justify-content: center;
    align-items: center;
}
.Choosemain{
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn12 {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn12:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.chosers {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.choser_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .choser_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .choser_item {
    width: 33.3333%;
  }
}

.choser {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.choser_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #06b3f7 40%, #063058 100%);
}

.choser_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.choser_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
