.green {
    color: green;
}

.red {
    color: red;
}
.col-md-1 input[type="radio"] {
    /*Adjustthesizeoftheradiobuttons*/transform: scale(2);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

